<!DOCTYPE html>
<html>
<head>
  <title> ShoppingSunday </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="bower_components/angular-simple-calendar/dist/angular-simple-calendar.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-simple-calendar/dist/angular-simple-calendar.js"></script>
</head>

<body>

<div ng-app="shoppingSunday" ng-controller="myCtrl">

<h2>Today is {{today | date:'EEEE'}},
    <span>{{today | date:'dd-MMMM'}}</span>, week: <span>{{today | date:'ww'}}</span>
</h2>


<div class="" ng-repeat="event in events | filter:currentWeek:true">
<!-- <div class="" ng-repeat="event in events"> -->
  {{ event.week }}
</div>

<h1>This upcoming Sunday stores will be
  <span ng-show="!closed" > open, </span>
  <span ng-show="closed" > closed, </span>
  <span style="color: red"> &nbsp; week: {{currentWeek}}</span>
</h1>

<div class="calendar" ng-click="showCalendar()">
  Show Calendar
</div>

<simple-calendar ng-show="showCal" events="events" options="calendarOptions"></simple-calendar>


</div> <!-- myCtrl end -->


<script>
var app = angular.module('shoppingSunday', ['500tech.simple-calendar']);

app.controller('myCtrl', ['$scope', '$filter', function($scope, $filter) {

  // TODAY'S DATE
  $scope.today = new Date();
  // $scope.today = new Date(2018, 10, 12);
  // $scope.today = '2018-10-12T20:07:28.801Z';

  // DETERMINE CURRENT YEAR'S WEEK NUMBER
  $scope.currentWeek = +$filter('date')(new Date($scope.today.getFullYear(), $scope.today.getMonth(), $scope.today.getDate()), 'ww', 'UTC');

  // OPEN / CLOSE message
  $scope.closed = false;
  // change value comparing current week with the value of the week in events list
  angular.forEach($scope.events, function (val){
    if(val.week == $scope.currentWeek){
      $scope.closed = true;
      console.log('found it!');
    }
  })

  // SHOW / HIDE CALENDAR
  $scope.showCal = false;
  $scope.showCalendar = () => {
    $scope.showCal = !$scope.showCal;
  }

  //BASIC CALENDAR
  // Dates can be passed as strings or Date objects
  $scope.calendarOptions = {
    defaultDate: $scope.today,
    minDate: +$filter('date')(new Date($scope.today.getFullYear(), $scope.today.getMonth(), $scope.today.getDate()), 'yyyy, mm, dd', 'UTC'),
    // minDate: new Date([2018, 10, 1]),
    maxDate: new Date([2020, 12, 31]),
    dayNamesLength: 3, // How to display weekdays (1 for "M", 2 for "Mo", 3 for "Mon"; 9 will show full day names; default is 1)
    multiEventDates: true, // Set the calendar to render multiple events in the same day or only one event, default is false
    maxEventsPerDay: 1, // Set how many events should the calendar display before showing the 'More Events' message, default is 3;
    eventClick: $scope.eventClick,
    dateClick: $scope.dateClick
  };

  $scope.events = [
      {title: '', freeSun: true, date: new Date([2018, 10, 14]), week: 41},
      {title: '', freeSun: true, date: new Date([2018, 10, 21]), week: 42},
      {title: 'Independance Day', freeSun: true, date: new Date([2018, 11, 11]), week: 45},
      {title: '', freeSun: true, date: new Date([2018, 11, 18]), week: 46},
      {title: '', freeSun: true, date: new Date([2018, 12, 9]), week: 49},
      {title: 'New Years Day',  freeSun: false, date: new Date([2019, 1, 1]), week: ''},
      {title: 'Three Kings',  freeSun: true, date: new Date([2019, 1, 6]), week: 1},
      {title: '', freeSun: true, date: new Date([2019, 1, 13]), week: 2},
      {title: '', freeSun: true, date: new Date([2019, 1, 20]), week: 3},
      {title: '', freeSun: true, date: new Date([2019, 2, 3]), week: 5},
      {title: '', freeSun: true, date: new Date([2019, 2, 10]), week: 6},
      {title: '', freeSun: true, date: new Date([2019, 2, 17]), week: 7},
      {title: '', freeSun: true, date: new Date([2019, 3, 3]), week: 9},
      {title: '', freeSun: true, date: new Date([2019, 3, 10]), week: 10},
      {title: '', freeSun: true, date: new Date([2019, 3, 17]), week: 11},
      {title: '', freeSun: true, date: new Date([2019, 3, 24]), week: 12},
      {title: '', freeSun: true, date: new Date([2019, 4, 7]), week: 14},
      {title: 'Easter', freeSun: true, date: new Date([2019, 4, 21]), week: 16},
      {title: 'Easter Monday', freeSun: false, date: new Date([2019, 4, 22]), week: ''},
      {title: 'Labour Day', freeSun: false, date: new Date([2019, 5, 1]), week: ''},
      {title: 'Constitiution Day', freeSun: false, date: new Date([2019, 5, 3]), week: ''},
      {title: '', freeSun: true, date: new Date([2019, 5, 5]), week: 18},
      {title: '', freeSun: true, date: new Date([2019, 5, 12]), week: 19},
      {title: '', freeSun: true, date: new Date([2019, 5, 19]), week: 20},
      {title: '', freeSun: true, date: new Date([2019, 6, 2]), week: 23},
      {title: 'Pentecost', freeSun: true, date: new Date([2019, 6, 9]), week: 24},
      {title: '',  freeSun: true, date: new Date([2019, 6, 16]), week: 25},
      {title: '', freeSun: true, date: new Date([2019, 6, 23]), week: 26}
    ];


}]);


</script>

</body>
</html>
