/*  RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: .625em;
  font-family: 'Poppins', Arial, sans-serif;
}

body{
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.background{
  flex: 1;
}

.container{
  margin: 0 auto;
}

.title{
  background-color: white;
  font-weight: bold;
  line-height: 130%;
}

.post{
  font-weight: bold;
  position: relative;
}
#triangle-bottomright {
  position: absolute;
}

.sunday_info{
  font-weight: bold;
}

.sunday_info h1{
  /* width: 36.3rem; */
  /* height: 7.5rem; */
  text-align: center;
  /* font-size: 4.4rem; */
}

.sunday_info p{
  /* width: 81.2rem; */
  /* height: 7.5rem; */
  text-align: center;
  /* font-size: 3.2rem; */
  /* padding: 1.4rem 0 1.3rem 0; */
  /* margin: 1.1rem 0 3.8rem 0; */
}

.circle{
  width: 53.6rem;
  height: 53.6rem;
  border-radius: 50%;
  background-color: white;
  font-size: 6.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* scrollbar hidden by height,width: 100% & padding-right & box-sizing + .col-3 - height,width: 100% & overflow: hidden*/
.text{
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  padding-right: 1.5rem;
  box-sizing: content-box;
}

footer{
  background-color: white;
  flex-shrink: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  div.container:first-of-type{
    display: block;
    height: 155rem;

  }
  /* [class*='col']{
    width: 100vw;
    display: block;
  } */
  .col-1{
    display: flex;
    position: relative;
  }
  .col-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.2rem;
  }

  .title{
    margin: 2.5rem 0 0 3.8rem;
    width: 13.4rem;
    height: 5.4rem;
    font-size: 1.8rem;
    padding: .5rem;
  }

  .post{
    width: 30.4rem;
    height: 11.4rem;
    font-size: 2rem;
    padding: 2.55rem 1.35rem 1.05rem 1.45rem;
    margin-bottom: 10.2rem;
    position: absolute;
    top: 50rem;
  }
  #triangle-bottomright {
    /* position: absolute; */
    top: -2rem;
    right: 4rem;
    border-bottom: 2.5rem solid black;
    border-left: 2.5rem solid transparent;
  }

  .sunday_info h1{
    display: inline-block;
    width: 20.6rem;
    height: 6.2rem;
    font-size: 2.6rem;
    padding: 1rem .8rem;
  }

  .sunday_info p{
    /* display: inline-block; */
    width: 30.4rem;
    height: 8rem;
    font-size: 2rem;
    margin-top: 1rem;
    padding: 1rem 4rem;
  }

  .circle{
    display: inline-block;
  }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 992px){
  div.container:first-of-type{
    display: block;
    height: 102.4rem;
  }

  [class*='col']{
    display: block;
  }

  .title{
    margin-top: 3.7rem;
    width: 17rem;
    height: 7rem;
    font-size: 2.2rem;
    padding: .8rem 1.6rem .7rem 1.7rem;
    /* background-color: white; */
    /* font-weight: bold; */
    /* line-height: 130%; */
  }

  .post{
    width: 53.6rem;
    height: 16.5rem;
    font-size: 3.2rem;
    /* font-weight: bold; */
    padding: 3.5rem 3.3rem 1.3rem 3.4rem;
    /* margin-top: 85.6rem; */
    margin-bottom: 10.2rem;
    /* position: relative; */
  }
  #triangle-bottomright {
    /* position: absolute; */
    top: -4rem;
    right: 7rem;
  	border-bottom: 4rem solid black;
  	border-left: 4rem solid transparent;
  }

  .sunday_info h1{
    width: 36.3rem;
    height: 7.5rem;
    font-size: 4.4rem;
  }

  .sunday_info p{
    width: 81.2rem;
    height: 7.5rem;
    font-size: 3.2rem;
    padding: 1.4rem 0 1.3rem 0;
    margin: 1.1rem 0 3.8rem 0;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {} */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  div.container:first-of-type{
    max-width: 170.4rem;
    height: 128.8rem;
    display: flex;
    justify-content: center;
  }

  [class*='col']{
    width: calc(170.4rem / 3);
  }

  [class*='col']{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .col-1{
    justify-content: space-between;
  }

  .col-2{
    justify-content: center;
    align-items: center;
  }

  .col-3{
    margin-left: 5.55rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .title{
    margin-top: 3.7rem;
    width: 17rem;
    height: 7rem;
    font-size: 2.2rem;
    padding: .8rem 1.6rem .7rem 1.7rem;
  }

  .post{
    width: 53.6rem;
    height: 16.5rem;
    font-size: 3.2rem;
    /* font-weight: bold; */
    padding: 3.5rem 3.3rem 1.3rem 3.4rem;
    /* margin-top: 85.6rem; */
    margin-bottom: 10.2rem;
    /* position: relative; */
  }
  #triangle-bottomright {
    /* position: absolute; */
    top: -4rem;
    right: 7rem;
  	border-bottom: 4rem solid black;
  	border-left: 4rem solid transparent;
  }

  .sunday_info h1{
    width: 36.3rem;
    height: 7.5rem;
    font-size: 4.4rem;
  }

  .sunday_info p{
    width: 81.2rem;
    height: 7.5rem;
    font-size: 3.2rem;
    padding: 1.4rem 0 1.3rem 0;
    margin: 1.1rem 0 3.8rem 0;
  }


  .empty{
    height: 95.9rem;
  }

  footer{
    width: 192rem;
    height: 7rem;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
